*{margin:0;padding:0;box-sizing:border-box;font-family:Arial, sans-serif}

body{
  background:#f5e7b2;
  color:#222;
}

header{
  width:100%;
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  background:rgba(0,0,0,.65);
  backdrop-filter:blur(8px);
}

header a{color:rgb(182, 180, 99);text-decoration:none}

nav a{margin-left:25px;font-size:15px}

.hero-wrapper{
  position:relative;
  height:100vh;
  width:100%;
  overflow:hidden;
  margin-top:70px;
}

.hero{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  padding-left:10%;
  color:rgb(217, 255, 0);
  transition:opacity .9s ease-out;
  background-position:center;
  background-size:cover;
}

.hero-1{
  background-image:url("assets/koi.jpg");
  opacity:1;
  z-index:2;
}

.hero-2{
  background-image:url("assets/japan.jpg");
  opacity:0;
  z-index:1;
}

.hero-content h1{
  font-size:48px;
  margin-bottom:10px;
}

.hero-buttons{margin-top:20px}

.btn{
  display:inline-block;
  padding:10px 18px;
  background:#007bff;
  color:rgb(0, 0, 0);
  border-radius:6px;
  margin-right:10px;
  text-decoration:none;
  font-size:15px;
}

.btn.outline{
  background:transparent;
  border:1px solid #007bff;
  color:#007bff;
}

.section{
  padding:100px 80px;
}

.skills-grid{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-top:20px;
}

.skill{
  padding:8px 14px;
  background:#000;
  color:white;
  border-radius:6px;
  font-size:14px;
}

.projects{
  display:flex;
  gap:20px;
  margin-top:30px;
}

.project-card{
  padding:20px;
  background:#111;
  color:white;
  border-radius:8px;
  width:300px;
}

.tech{
  display:block;
  font-size:13px;
  margin-top:6px;
  opacity:.8;
}
